@media (max-width: $xxxlg)
  .caption
    width: 700px
    margin-right: 150px
    margin-bottom: 66px
    &__sup
      font-size: 32px
      margin-bottom: 9px
      margin-left: 50px
    &__logo
      margin-bottom: 22px
    &__sub
      font-size: 49px
  .info
    margin-right: 340px
  .reserv
    padding-left: 250px
    width: 1350px
  .elk
    left: 0
    right: auto
    &-svg
      width: 1113px
      height: 1050px

@media (max-width: $xxlg)
  .header
    margin-bottom: 50px
  .caption
    width: 700px
    margin-right: 100px
    margin-bottom: 50px
    &__sup
      font-size: 32px
      margin-bottom: 9px
      margin-left: 50px
    &__logo
      margin-bottom: 22px
    &__sub
      font-size: 44px
  .info
    margin-right: 240px
    margin-bottom: 75px
  .reserv
    padding-left: 230px
    width: 1220px
    margin-bottom: 50px
    &::before
      background:
        position: 49% 0
    &::after
      background:
        position: 51% 0
  .elk
    &-svg
      width: 1055px
      height: auto
@media (max-width: $xlg)
  .header
    margin-bottom: 40px
    font-size: 20px
  .caption
    width: 570px
    margin-right: 50px
    margin-bottom: 15px
    &__sup
      font-size: 27px
      margin-bottom: 9px
      margin-left: 50px
    &__logo
      margin-bottom: 22px
    &__sub
      font-size: 35px
  .info
    margin-right: 140px
    margin-bottom: 25px
    width: 350px

    &::before
      height: 190px
      width: 24px
      background: 
        size: auto 190px
    &__price
      font-size: 38px
      margin-top: 25px
      margin-bottom: 18px
      &::before
        font-size: 18px
      &::after
        font-size: 16px
    &__text
      font-size: 16px
  .reserv
    padding-left: 285px
    width: 1115px
    margin-bottom: 30px
    &::before
      top: -35px
      height: 33px
      background:
        position: 49% 0
        size: auto 31px
    &::after
      bottom: -35px
      height: 33px
      background:
        position: 51% 0
        size: auto 31px
    &__title
      font-size: 22px
      margin-right: 13px
    &__input
      margin-right: 15px
      width: 151px
      &-date
        background:
          position: 10px 10px
        padding-left: 35px
        padding-top: 16px
        + label
          position: absolute
          top: 5px
          left: 45px
          font-size: 12px
      &-persons
        width: 80px
        background:
          position: 10px 11px
          size: 20px auto
        padding-left: 25px
        padding-top: 16px
        + label
          top: 5px
          left: 35px
          font-size: 12px
  .elk
    &-svg
      width: 900px